# Module 12 Challenge
## Deliverable 2: Scrape and Analyze Mars Weather Data

In [35]:
# Import relevant libraries
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import matplotlib.pyplot as plt
import pandas as pd

In [36]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

### Step 1: Visit the Website

Use automated browsing to visit the [Mars Temperature Data Site](https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html). Inspect the page to identify which elements to scrape. Note that the URL is `https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html`.

   > **Hint** To identify which elements to scrape, you might want to inspect the page by using Chrome DevTools to discover whether the table contains usable classes.

In [37]:
# Visit the website
# https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html
url = 'https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html'
#read table(s) from the website as a pd.DataFrame
pd_mars_df = pd.read_html(url)[0]

### Step 2: Scrape the Table

Create a Beautiful Soup object and use it to scrape the data in the HTML table.

Note that this can also be achieved by using the Pandas `read_html` function. However, use Beautiful Soup here to continue sharpening your web scraping skills.

In [38]:
# Create a Beautiful Soup Object
mars = BeautifulSoup(html.text, 'html.parser')

NameError: name 'BeautifulSoup' is not defined

In [ ]:
# Extract all rows of data
def get_summary(webdrv='selenium'):
    # Parse the HTML
    if webdrv == 'selenium':
        html = driver.page_source
    else:
        html = browser.html
    html_soup = soup(html, 'html.parser')
    mars_data = html_soup.find('tbody')
    # extract table headers
    theaders.append([th.text for th in mars_data.find_all('th')])
    # extract table data
    for tr in mars_data.find_all('tr', class_='data-row'):
        row = [td.text for td in tr.find_all('td')]
        tdata.append(row)

### Step 3: Store the Data

Assemble the scraped data into a Pandas DataFrame. The columns should have the same headings as the table on the website. Hereâ€™s an explanation of the column headings:

* `id`: the identification number of a single transmission from the Curiosity rover
* `terrestrial_date`: the date on Earth
* `sol`: the number of elapsed sols (Martian days) since Curiosity landed on Mars
* `ls`: the solar longitude
* `month`: the Martian month
* `min_temp`: the minimum temperature, in Celsius, of a single Martian day (sol)
* `pressure`: The atmospheric pressure at Curiosity's location

In [ ]:
# Create an empty list
theaders = []
tdata = []


# Loop through the scraped data to create a list of rows

In [ ]:
# Create a Pandas DataFrame by using the list of rows and a list of the column names
mars_df = pd.DataFrame(tdata, columns=np.ravel(theaders))
mars_df.info()

In [ ]:
# Confirm DataFrame was created successfully
mars_df.duplicated().any()

### Step 4: Prepare Data for Analysis

Examine the data types that are currently associated with each column. If necessary, cast (or convert) the data to the appropriate `datetime`, `int`, or `float` data types.

  > **Hint** You can use the Pandas `astype` and `to_datetime` methods to accomplish this task.

In [ ]:
# Examine data type of each column
mars_df.iloc[:, 0] = mars_df.iloc[:, 0].astype(np.int64)
mars_df['terrestrial_date'] = pd.to_datetime(mars_df['terrestrial_date'])
mars_df.iloc[:, 2:5] = mars_df.iloc[:, 2:5].astype(np.int64)
mars_df.iloc[:, -2:] = mars_df.iloc[:, -2:].astype(float)
mars_df.info()

In [ ]:
# Change data types for data analysis
mars_df.iloc[:, 0] = mars_df.iloc[:, 0].astype(np.int64)
mars_df['terrestrial_date'] = pd.to_datetime(mars_df['terrestrial_date'])
mars_df.iloc[:, 2:5] = mars_df.iloc[:, 2:5].astype(np.int64)
mars_df.iloc[:, -2:] = mars_df.iloc[:, -2:].astype(float)
mars_df.info()

In [ ]:
# convert data to the appropriate data type
pd_mars_df['terrestrial_date'] = pd.to_datetime(pd_mars_df['terrestrial_date'])
pd_mars_df.info()

### Step 5: Analyze the Data

Analyze your dataset by using Pandas functions to answer the following questions:

1. How many months exist on Mars?
2. How many Martian (and not Earth) days worth of data exist in the scraped dataset?
3. What are the coldest and the warmest months on Mars (at the location of Curiosity)? To answer this question:
    * Find the average the minimum daily temperature for all of the months.
    * Plot the results as a bar chart.
4. Which months have the lowest and the highest atmospheric pressure on Mars? To answer this question:
    * Find the average the daily atmospheric pressure of all the months.
    * Plot the results as a bar chart.
5. About how many terrestrial (Earth) days exist in a Martian year? To answer this question:
    * Consider how many days elapse on Earth in the time that Mars circles the Sun once.
    * Visually estimate the result by plotting the daily minimum temperature.

In [ ]:
# 1. How many months are there on Mars?
mars_months = np.unique(mars_df['month'])
mars_months

In [39]:
# 2. How many Martian days' worth of data are there?

In [40]:
# 3. What is the average low temperature by month?

In [41]:
# Plot the average temperature by month

In [42]:
# Identify the coldest and hottest months in Curiosity's location

In [43]:
# 4. Average pressure by Martian month

In [44]:
# Plot the average pressure by month

In [49]:
# 5. How many terrestrial (earth) days are there in a Martian year?
print(mars_df['terrestrial_date'].agg(['max', 'min']))
today_range = (mars_df['terrestrial_date'].max() - mars_df['terrestrial_date'].min()).days


earth_year = today_range / 365.25

visual_sols_to_earthdays = today_range / avg_visual_mars_year
avg_sols_to_earthdays = today_range / avg_mars_year
ref_period = 687
pct_visual_period_diff = (visual_sols_to_earthdays / ref_period - 1)*100
pct_avg_period_diff = (avg_sols_to_earthdays / ref_period - 1)*100

NameError: name 'mars_df' is not defined

On average, the third month has the coldest minimum temperature on Mars, and the eighth month is the warmest. But it is always very cold there in human terms!

Atmospheric pressure is, on average, lowest in the sixth month and highest in the ninth.

The distance from peak to peak is roughly 1425-750, or 675 days. A year on Mars appears to be about 675 days from the plot. Internet search confirms that a Mars year is equivalent to 687 earth days.

### Step 6: Save the Data

Export the DataFrame to a CSV file.

In [32]:
# Write the data to a CSV
file_name = './Data/mars_data.csv'
mars_df.to_csv(file_name, index=False)

In [33]:
browser.quit()